.edit-nav {
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 99999;
    &.show {
        display: block;
    }

    .openBt {
        position: relative;
        left: 19px;
        padding-top: 100px;
    }

    ul {
        margin: 10px 0;
        li {
            display: inline-block;
            padding: 5px 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            color: #131313;
            // font-size: 16px;
            text-align: center;
            line-height: 40px;
            margin: 0 8px;
            width: 20%;
        }
    }
}