{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "react/jsx-quotes": 0,
    "quotes": [1, "single"],
    "eqeqeq": [1, "smart"],
    "space-after-keywords": 2,
    "no-console": 1,
    "dot-notation": 0,
    "indent": 0,
    "space-before-function-paren": 0,
    "no-undefined": 1,
    "no-unused-vars": 1,
    "no-shadow-restricted-names": 1,
    "quote-props": 0,
    "dot-notation": 0,
    "no-return-assign": 1,
    "no-nested-ternary": 0,
    "space-before-function-paren": 0,
    "spaced-comment": 0,
    "eol-last": 1,
    "func-names": 1,
    "no-trailing-spaces": 1,
    "no-div-regex": 1,
    "guard-for-in": 1,
    "block-scoped-var": 1,
    "no-shadow": 1,
    "object-shorthand": 2,
    "new-cap": 1,
    "prefer-const": 1,
    "no-param-reassign": 1,
    "no-unused-expressions": 1,
    "no-else-return": 1,
    // React
    "jsx-quotes": [2, "prefer-double"],
    "react/display-name": 0,
    "react/jsx-boolean-value": 1,
    "react/jsx-no-undef": 2,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/jsx-indent-props": 0,
    "react/no-did-mount-set-state": [2, "allow-in-func"],
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 2,
    "react/wrap-multilines": 2
  }
}
