.news-header {
    display: flex;
    background-color: #d43d3d;
    color: white;
    font-size: 0.55rem;
    font-weight: bold;
    letter-spacing: 0.05rem;

    height: 88px;
    position: fixed;
    z-index: 8;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    font-family: 'STHeiti', 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;
    word-break: break-word;
    
    .icon_mes {
        // width: 1rem;
        position: relative;
        top: 25%;
        left: 2%;
        width: 64px;
        height: 50px;
        background: url(https://s3.pstatp.com/growth/mobile_list/image/feed_ic_message_normal@3x_f2ea949f.png) no-repeat;
        background-size: contain;
        display: block;
        position: relative;
        margin-left: 24px;

        .circle {
            border-radius: 10px;
            width: 20px;
            height: 20px;
            position: relative;
            top: 4px;
            right: -34px;
            background: #fff;

        }
    }
    .icon_sea {
        // width: 1rem;
        
        display: inline-block;
        position: relative;
        margin-right: 24px;
        height: 48px;
        width: 48px;
        top: 25%;
        right: 3%;
        background: url(https://s3.pstatp.com/growth/mobile_list/image/feed_ic_search_normal@3x_0f198e56.png) no-repeat center;
        background-size: contain;
    }
    .t_cen {
        width: 100%;
        text-align: center;
        color: #fff;
        font-weight: bold;
        position: relative;
        top: 4%;
        // left: 50%;

        .title {
            // flex: 1;
            // text-align: center;
            // height: 1.4rem;
            // line-height: 1.4rem;
            line-height: 88px;
            display: inline-block;
            background-size: 166px !important;
            width: 166px;
            height: 88px;
            // position: relative;
            // left: -30%;
            background: url(https://s3b.pstatp.com/growth/mobile_list/image/wap_logo@3x_581de69e.png) no-repeat right center;
        }
        .refresh {
            background-size: 10px;
            width: 60px;
            height: 88px;
            display: inline-block;
            background: url(https://s3a.pstatp.com/growth/mobile_list/image/titlebar_refresh_small@3x_96fb31e4.png) no-repeat center center;
        }
    }

}